.list-pokemon{
    list-style: none;
    padding: 0;
    margin: 20px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    width: 90%;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #666666;
    padding: 40px;
    gap:16px;
}
li{
    background: #FFFFFF;
    border-radius: 20px 20px;
    border: 2px solid #e0e0e0;
    width: 30%;
    height: 250px;
    color: black;
    font-size: 24px;
    box-shadow: 0 0 15px #E0E0E0;
    position: relative; /* Necesario para la posición de la sombra */
    overflow: hidden; /* Oculta la sombra que sobresale */
}
.sombra-card {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: #E0E0E0;
    z-index: 1;
    border-radius: 20px 20px;
}
p {
    margin: 0;
    position: relative;
    z-index: 2;
}
.id-pokemon{
    color:#666666;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.img-pokemon{
    width: 150px;
    position: relative; /* Necesario para que la imagen esté encima del div de fondo */
    z-index: 2; /* Asegúrate de que la imagen esté por encima del fondo */
    margin: 10px auto; /* Centrando la imagen */
}