.button-search {
    border-radius: 100px;
    background: #FFFFFF;
    box-shadow: inset 0 0 10px #E0E0E0;
    font-weight: bold;
    border: none;
    font-size: 16px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../../assets/sort.png'); /* Imagen predeterminada */
}

/* Imagen para buscar por ID */
.button-id {
    background-image: url('../../assets/tag.png'); /* Cambia la imagen a Sort Button cuando se selecciona ID */
}

/* Imagen para buscar por Nombre */
.button-name {
    background-image: url('../../assets/text_format.png'); /* Cambia la imagen a text_format cuando se selecciona Nombre */
}
