
.search-input{
    width: 50%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 25px 25px;
    border: none;
    padding-left: 45px;
    box-shadow: inset 0 0 10px #666666;
    font-size: 16px;
    color:#DC0A2D;
}
.search-icon {
    top: 25px;
    left: 270px;
    width: 30px;
    position: absolute;
    transform: translateY(-50%);
    pointer-events: none;
    align-self: flex-end;
  }
  